/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}